html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
  }

  body {
    width: 80em;
    margin: 0 auto;
  }
  h1 {
      text-align: center;
    background-color: rgb(55, 92, 141);
    height: 1em;
    padding: 2em;
  }